<h1> hacked from generate</h1>
<h1>Example#testp</h1>
<p>Find me in app/views/example/testp.html.erb</p>


<% sum = 0 %>
<% for i in 1..5  %>
<%= "#{i} " %>
<% sum = sum + i %>
<% end %>

<p> The sum is:
<%= "#{sum}" %>
<p>
